#navbar{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
#navbar h3 a{
    color: skyblue;
    text-decoration: none;
}
#navbar .user-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#navbar .user-info img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}
#navbar button{
    padding: 0.5rem 1rem;
    background-color: white;
    border: none;
    border-radius: 0.2rem;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        background-color: whitesmoke;
    }
}