#comments{
    color: white;
    width: 25%;
    background-color: #3f3f3f40;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#comments-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    overflow-y: auto;
}


#comment{
    padding: 5px;
    border-bottom: 1px solid rgb(82, 82, 82);
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}
#comment h4{
    font-size: 0.8rem;
    font-weight: normal;
}
#comment p{
    color: rgb(179, 179, 179);
    font-size: 0.8rem;
}
.replies{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgb(66, 66, 66);
    padding: 1rem;
    border-radius: 10px;
}
.reply{
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.reply h4{
    font-size: 0.8rem;
    font-weight: normal;
}
.reply p{
    color: rgb(179, 179, 179);
    font-size: 0.8rem;
}
#comment .reply-button{
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 5rem;
    margin-top: 0.5rem;
    &:hover{
        background-color: white;
        color: initial;
    }
}


.new-comment-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid gray;
    padding: 1rem 0rem;
}

.new-comment-box textarea{
    font-family: inherit;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid gray;
    resize: none;
    border-radius: 5px;
    color: whitesmoke;
    height: 80px;
}

.new-comment-box button{
    width: fit-content;
    margin-right: 0.5rem;
   
}
.replies-toggle{
    color: white;
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    &:hover{
        background-color: white;
        color: black;
    }
}